.material-icons{
    position: relative;
    margin-top: 2px;
    font-size: 17px;
    color: grey;
}

.header{
    display: flex;
    width: 100%;
    box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
    box-sizing: border-box;
    height: 80px;
    justify-content: space-between;
}

.user{
    padding: 0;
    position: relative;
    display: flex;
    height: 55px;
    top: 12px;
    left: 120px;
}

.user > .nickname{
    position: relative;
    bottom: 2px;
    left: 10px;
    font-weight: 600;
    font-size: 18px;
    color: #14142B;
}
.user > .avatar {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}

.header > .nav-block > nav{
    display: flex;
}

nav > a{
    text-decoration: none;
}

.log-out{
    cursor: pointer;
}

.link{
    font-size: 18px;
    padding-right: 44px;
    color: #4E4B66;
    position: relative;
    top: 10px;
}

.link > .material-icons{
    position: relative;
    top: 2px;
    left: 11px;
    color: black;
}

.pagetitle{
    color: #14142B;
    font-size: 36px;
    padding-left: 28px;
}

.profile-card{
    margin: 0 33px 61px 33px;
    background: #FFFFFF;
    width: 320px;
    height: 331px;
    text-align: center;
    border-radius: 16px;
}

.profile-card > .info{
    box-sizing: border-box;
    padding: 15px 30px;
    font-size: 24px;

}

.delete-btn{
    border-bottom-right-radius: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.edit-btn{
    border-bottom-left-radius: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.interface-card{
    display: flex;
}

.interface-card > a{
    flex: 1;
    text-align: center;
    font-size: 18px;
    padding: 5px;
}

.delete-btn:hover{
    background-color: #EB0055;
}

.edit-btn:hover{
    background-color: #624AF2;
}


.create-profile{
    margin: 0 33px 61px 33px;
    background: #FFFFFF;
    width: 320px;
    height: 331px;
    text-align: center;
    border-radius: 16px;
}

.add-profile-btn > p{
    height: 70px;
    width: 70px;
    font-size: 50px;
    color: rgb(131, 131, 131);
    border: 1px solid rgb(131, 131, 131);
    border-radius: 50%;
    margin: 85px auto;
    cursor: pointer;
}

.title-add{
    color: #4E4B66;
    font-size: 20px;
    margin-top: -45px;
}

.modal-background{
    position: absolute;
    background: rgb(156, 156, 156, 0.5);
    width: 1920px;
    height: 970px;
    left: 0px;
    top: 0px;
}

.modal-block{
    border: 1px solid #D6D8E7;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 200px auto;
    background-color: rgb(245, 245, 245, 1);
    width: 600px;
    height: 575px;
}

.form{
    padding: 90px 0;
}

.form-block{
    width: 200px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.form-block > label{
    font-size: 18px;
    color: #6E7191;
}

.form-element{
    width: 200px;
    display: block;
}

.form-block > label > .input-text{
    background: rgb(245, 245, 245);
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 200px;
    font-size: 24px;
    padding: 3px;
}

.radio-btns{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    display: block;
}

.interface-modal{
    width: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.interface-modal > a {
    background-color: #ced1dd;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

.interface-modal > a > .btn{
    position: relative;
    top: 7px;
    left: 20px;
    color: black;
}

.user-card{
    box-sizing: border-box;
    width: 396px;
    height: 208px;
    padding: 10px;
    margin: 0 5px 10px 5px;
    border: 1px solid #D6D8E7;
    background-color: #FFFFFF;
    border-radius: 16px;
}

.user-card > p {
    text-align: center;
    color: #4E4B66;
    font-size: 24px;
    margin-bottom: 20px;
}

.user-card a{
    text-decoration: none;
}

.user-card p.title {
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    color: #4E4B66;
    font-size: 24px;
    margin-bottom: 20px;
}

.auth-error{
    text-align: center;
    color: rgb(121, 22, 22);
    font-size: 15px;
}

.profile-modal-area{
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(156, 156, 156, 0.5);
    width: 1920px;
    height: 970px;
}

.profile-modal-block{
    border: 1px solid #D6D8E7;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 200px auto;
    background-color: rgb(245, 245, 245, 1);
    width: 600px;
    height: auto;
}

.profile-modal-block > form > .form-block{
    width: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
}

.profile-modal-block > form > .form-block > label > .input-text{
    background: rgb(245, 245, 245);
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    width: 300px;
    font-size: 24px;
    padding: 3px;
}

.radio-btns-profile{
    margin-top: 10px;
    display: flex;
    color: black;
}

.radio-btn{
    flex: 1;
}

.radio-btn:last-child{
    padding-left: 130px;
}